.heading {
  text-align: center;
}

.books-of-list {
  border: 2px solid black;
} 
p {
  font-weight: bold;
  font-size: medium;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.34rem;
}

#form > h3 {
  font-size: xx-large;
}
.book-line {
  display: flex;
  gap: 6px;
}
.books-of-list .book-line:nth-child(odd) {
  background-color: #ddd;
}

#form > input {
  width: 350px;
  height: 35px;
  border: 2px solid black;
  font-size: large;
}

#form > input::placeholder {
  font-size: large;
  padding-left: 10px;
  color: black;
}

#form > button {
  margin-left: 302px;
  font-size: large;
  background: none;
  padding: 4px 10px;
  border: 2px solid black;
}
.remove {
  margin:1rem 2rem 1rem auto;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 6px;
}